@font-face {
  font-family: "bold";
  src: url(/font/Quicksand-Bold.ttf);
}

@font-face {
	font-family: "regular";
	src: url(/font/Quicksand-Regular.ttf);
}

@font-face {
	font-family: "semi-bold";
	src: url(/font/Quicksand-SemiBold.ttf);
}

@font-face {
	font-family: "medium";
	src: url(/font/Quicksand-Medium.ttf);
}

a {
  font-family: "bold";
  color: black;
}
h1,h2,h5,h6{
	font-family: "bold";
}
p,ul{
	font-family: "medium";
}
h5 .card-title {
  font-size: 18px;
}
.btn-primary {
  padding: 8px 80px;
  border: none;
  border-radius: 18px;
  background-color: red;
  transition: 0.3s;
  font-family: "semi-bold";
}
.btn-primary:hover {
  background-color: #98989c;
  color: black;
  transition: 0.2s;
}
.btn-danger{
	border: none;
	background-color: red;
  	transition: 0.3s;
}
.btn-danger:hover {
	background-color: #98989c;
	color: black;
	transition: 0.2s;
  }